<main>
  <div class="slider-area ">
    <div class="slider-active">
      <div class="single-slider slider-height d-flex align-items-center slide-bg">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
              <% unless notice.blank? %>
                <div class="alert alert-info alert-dismissible fade show">
                  <%= notice %>
                </div>
              <% end %>
              <% unless alert.blank? %>
                <div class="alert alert-danger alert-dismissible fade show">
                  <%= alert %>
                </div>
              <% end %>
              <div class="hero__caption">
                <h1 class="animated myElement fadeInLeft slow">Select Your New Perfect Style</h1>
                <p class="animated myElement fadeInLeft slow">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat is aute irure.</p>
                <% unless user_signed_in? %>
                  <div class="hero__btn">
                    <%= link_to "Login Now!", new_user_session_path, class: "btn hero-btn animated myElement fadeInLeft" %>
                  </div>
                  <p class="animated myElement fadeInLeft slow loging-out-p">
                    <%= link_to "Don't have account? Sign-up now!", new_user_registration_path, class: "signing-up"%>
                  </p>
                <% else %>
                  <div class="hero__btn">
                    <%= link_to "Shop Now!", products_path, class: "btn hero-btn animated myElement fadeInLeft" %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
              <div class="hero__img animated myElement bounceIn slower">
                <%= image_tag('hero/watch.png', class: 'heartbeat') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="new-product-area section-padding30">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="section-tittle mb-70">
            <h2>New Arrivals</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <% if @products.size >= 1 %>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="single-new-pro mb-30 text-center">
              <%= link_to product_path(@products[0]) do %>
                <div class="product-img">
                  <%= image_tag(@products[0].images.first) %>
                </div>
              <% end %>
              <div class="product-caption">
                <h3>
                  <%= link_to @products[0].name, product_path(@products[0]) %>
                </h3>
                <span>$
                  <%= @products[0].price %></span>
              </div>
            </div>
          </div>
        <% end %>
        <% if @products.size >= 2 %>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="single-new-pro mb-30 text-center">
              <%= link_to product_path(@products[1]) do %>
                <div class="product-img">
                  <%= image_tag(@products[1].images.first) %>
                </div>
              <% end %>
              <div class="product-caption">
                <h3>
                  <%= link_to @products[1].name, product_path(@products[1]) %>
                </h3>
                <span>$
                  <%= @products[1].price %></span>
              </div>
            </div>
          </div>
        <% end %>
        <% if @products.size >= 3 %>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="single-new-pro mb-30 text-center">
              <%= link_to product_path(@products[2]) do %>
              <div class="product-img">
                <%= image_tag(@products[2].images.first) %>
              </div>
              <% end %>
              <div class="product-caption">
                <h3>
                  <%= link_to @products[2].name, product_path(@products[2]) %>
                </h3>
                <span>$
                  <%= @products[2].price %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <div class="gallery-area">
    <div class="container-fluid p-0 fix">
      <div class="row">
        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
          <div class="single-gallery mb-30">
            <div class="gallery-img big-img">
              <%= image_tag('gallery/gallery1.png') %>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
          <div class="single-gallery mb-30">
            <div class="gallery-img big-img">
              <%= image_tag('gallery/gallery2.png') %>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6">
              <div class="single-gallery mb-30">
                <div class="gallery-img small-img">
                  <%= image_tag('gallery/gallery3.png') %>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-lg-12  col-md-6 col-sm-6">
              <div class="single-gallery mb-30">
                <div class="gallery-img small-img">
                  <%= image_tag('gallery/gallery4.png') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="popular-items section-padding30">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-10">
          <div class="section-tittle mb-70 text-center">
            <h2>Latest Items</h2>
            <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <% if @products.size >= 4 %>
          <% current_image = 3 %>
          <% while current_image < @products.size && current_image < 9 %>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-popular-items mb-50 text-center">
                <div class="popular-img">
                  <%= image_tag(@products[current_image].images.first) %>
                  <%= link_to product_path(@products[current_image]) do %>
                    <div class="img-cap">
                      <span>
                        Show Details
                      </span>
                    </div>
                  <% end %>
                </div>
                <div class="popular-caption">
                  <h3>
                    <%= link_to @products[current_image].name, product_path(@products[current_image]) %>
                  </h3>
                  <span>$
                    <%= @products[current_image].price %></span>
                </div>
              </div>
            </div>
            <% current_image += 1 %>
          <% end %>
        <% end %>
      </div>
      <div class="row justify-content-center">
        <div class="room-btn pt-70">
          <%= link_to 'View More Products', products_path, class: 'btn view-btn1' %>
        </div>
      </div>
    </div>
  </div>
  <div class="watch-area section-padding30">
    <div class="container">
      <div class="row align-items-center justify-content-between padding-130">
        <div class="col-lg-5 col-md-6">
          <div class="watch-details mb-40">
            <h2>Watch of Choice</h2>
            <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
            <%= link_to 'Show Watches', products_path, class: 'btn' %>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-10">
          <div class="choice-watch-img mb-40">
            <%= image_tag('gallery/choce_watch1.png') %>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-6 col-md-6 col-sm-10">
          <div class="choice-watch-img mb-40">
            <%= image_tag('gallery/choce_watch2.png') %>
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="watch-details mb-40">
            <h2>Watch of Choice</h2>
            <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
            <%= link_to 'Show Watches', products_path, class: 'btn' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-method-area">
    <div class="container">
      <div class="method-wrapper">
        <div class="row d-flex justify-content-between">
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-method mb-40">
              <i class="fa fa-clock"></i>
              <h6>Free Shipping Method</h6>
              <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-method mb-40">
              <i class="fa fa-clock"></i>
              <h6>Secure Payment System</h6>
              <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-method mb-40">
              <i class="fa fa-clock"></i>
              <h6>Secure Payment System</h6>
              <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
